
// Styling Next and Prev buttons
.owl-nav {
	margin-top: 10px;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
	
	.disabled {
		opacity: .7;
		cursor: default;
	}
}

// Styling dots
.owl-nav.disabled + .owl-dots {
	margin-top: 5px;
}

.owl-dots {
	text-align: center;
	-webkit-tap-highlight-color: transparent;

	.owl-dot {
		display: inline-block;
		zoom: 1;
		*display: inline;

		span {
			width: 8px;
			height: 8px;
			margin: 2px;
			background: $white;
			display: block;
			opacity: .3;
			transition: opacity 200ms ease;
			border-radius: 50%;
		}

		&.active {
			span {
				opacity: 1;
			}
		}
	}
}
